.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 20px;
}

form-layout {
    background-color: #f9f9f9; /* Light background for the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Light shadow for a 3D effect */
    max-width: 500px; /* Maximum width of the form */
    width: 100%; /* Full width up to the max-width */
}

.centered-content {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    height: 100vh; /* Alto del viewport */
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.event-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card div {
    margin-bottom: 10px;
}

.event-card button {
    margin-top: 10px;
    background-color: red;
    color: white;
}


.unsubscribe-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
}

.unsubscribe-button:hover {
    background-color: #e60000;
}

/* styles/shared-styles.css */
/* styles/shared-styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background: linear-gradient(135deg, #f9f9f9 30%, #e3e4e8 100%);
    background-image: url('/images/blue_royals_banner.png');
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-top: 0;
}


.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 10px;
    width: calc(50% - 40px); /* Adjusted for two cards per row */
    display: inline-block;
    vertical-align: top;
}

/* Navigation bar styles */
.nav-bar {
    background-color: #0056b3; /* Softer blue */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.nav-bar h1 {
    color: #ffffff;
    font-size: 24px;
    margin: 0;
}

.nav-bar .nav-buttons button {
    color: #ffffff;
    background: none;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-bar .nav-buttons button:hover menu-bar-item:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Lighter hover effect */
}



